BODY {
	background-color: #f0f8ff
}

H1 {
	background-color: rosybrown
}

H2 {
	background-color: #afeeee
}

img {
	width: 99%;
	height: auto;
}

#beercompass{
	font-size: large;
	font-weight: 900;
	text-align: center;
	font-family: "Arabic Typesetting";

}