BODY {
	background-color: #f0f8ff
}

H1 {
	background-color: rosybrown
}

H2 {
	background-color: #afeeee
}

img {
	width: 99%;
	height: auto;
}

#beercompass {
	font-size: large;
	font-weight: 900;
	text-align: center;
	font-family: "sans-serif";

}

footer {
	text-align: center;
	padding: 35px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/

html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

#beerheroimage {
	background: linear-gradient(rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0.60)), url("../image/beerbubbles.jpg") repeat center center;
	width: 100%;
	left: 0;
	position: absolute;
	z-index: 1; /*Add this*/
	top: 71px;
	min-width: 100vw;
}

.beerhero {
	padding: 25px;
	/*color: white;*/
	font-size: 2em;
}

#main {
	margin-top: 270px;
}

#signin {
	margin-top: 75px;
}

#brewery {
	margin-top: 100px;
}

#signup {
	margin-top: 100px;
}

#thecompass {
	margin-top: 100px;
}

#beer {
	margin-top: 100px;
}


/***
* Nice Navbar Logo
* author: rlewis37
***/

/* make navbar-brand a nice height - works ok on mobile + desktop */
.navbar-brand {
	height: 75px;
	padding: 0;
}

/* make navbar-brand image play nice */
.navbar-brand > img {
	height: 98%;
	width: auto;
}

/* make navbar a flexbox, and vertically align the items inside */
nav.navbar {
	display: flex;
	align-items: center;
	min-height: 50px;
	margin-bottom: 20px;
}

/* make the navbar links section take up the rest of the horiz space */
/* this pushes the links over to the right */
#navbar-collapse-1 {
	flex: 1;
}

#navbar {
	text-align: right;
	display: flex;
	align-items: center;
	min-height: 50px;
	margin: 0;
}

#profile{
	text-align: center;
	padding: 150px;
}

/* make .navbar-header take up all the space when nav is collapsed */
@media only screen and (max-width: 768px) {
	.navbar-header {
		flex: 1;
	}
}

.beerhero {
	padding-bottom: 48px;
	padding-top: 48px;
	text-shadow: black 0.3em 0.3em 0.3em;
	-webkit-box-shadow: 10px 10px 10px grey;
	-moz-box-shadow:    10px 10px 10px grey;
	box-shadow:         10px 10px 10px grey;
	/*I know I am supposed to end with known values here but the shadow looks wrong when I do*/
}

/* the compass styles */

#compass-wrap > .compass .needle {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: needle 6s ease-in-out infinite;
	animation: needle 6s ease-in-out infinite;
}

@-webkit-keyframes needle {
	0%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(-15deg);
		transform: translate(-50%, -50%) rotate(-15deg);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes needle {
	0%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(-360deg);
		transform: translate(-50%, -50%) rotate(-360deg);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes needle2 {
	0%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) rotate(-360deg);
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes needle2 {
	0%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) rotate(-360deg);
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
