BODY {
	background-image:url(../image/beerbackground.jpg);
	background-size:cover;
	background-attachment:fixed;
	color: #ffffff;
	font-size: 2em;
}

h1 {
	text-shadow: black 0.12em 0.12em 0.12em;
	font-family: 'Viga', sans-serif;
}

h2 {
	background-color: transparent;
	font-family: 'Viga', sans-serif;
}

h3 {
	background-color: transparent;
	font-family: 'Viga', sans-serif;
}

#beercompass {
	font-size: large;
	font-weight: 900;
	text-align: center;
}

footer {
	text-align: left;
	vertical-align: center;
	/*padding: 15px;*/
	background-color: #f5f5f5;
	/*min-heigh: 50px;*/
	padding-left: 15px;
	padding-right: 15px;
}

.brewery-profile {
	padding-top: 100px;
}

.beer-profile {
	padding-top: 100px;
}

.well {
	color: black;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

.thumbnail {
	margin: 3em;
}

.beerhero {
	background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../image/beerbubbles.jpg")  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 1; /*Add this*/
	font-family: 'Viga', sans-serif;
	height: 180px;
	color: white;
	font-size: 2em;
	padding-top: 90px;
	text-shadow: black 0.12em 0.12em 0.12em;
	-webkit-box-shadow: 10px 10px 10px grey;
	-moz-box-shadow:    10px 10px 10px grey;
	box-shadow:         10px 10px 10px grey;
}

#homeText {
	margin-top: 150px;
	color: black;
	font: bold 1em Helvetica, Sans-Serif;
	letter-spacing: -1px;
	bottom:0;
	background:rgba(251,251,251,0.5);
	padding:10px 20px;
	top:10px; /* in conjunction with left property, decides the text position */
	left:10px;
}

.title {
	background-color: black;
	color: #fff;
	display: inline;
	padding: 0.5rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

#main {
	margin-top: 360px;
	margin-bottom: 15px;
}

#signin {
	margin-top: 75px;
	color: #000000;
}

#brewery {
	margin-top: 100px;
	margin-right: 300px;
}

#signup {
	margin-top: 100px;
	margin-right: 350px;
}

#thecompass {
	margin-top: 100px;
}

#beer {
	margin-top: 100px;
	margin-right: 300px;

}
.beer-profile ul{
	background-color: rgba(255,255,255,0.75);
	color: #333;
}

.brewery-profile ul{
	background-color: rgba(255,255,255,0.75);
	color: #333;
}

.btn-generate {
	background-color: #337ab7;
	font-weight: bold;
}

.btn-lg {
	background-color: #337ab7;
}

.table {
	background-color: rgba(255,255,255,0.75);
	color: #333;
	margin-left: 50px;
}

.table-hover>tbody>tr:hover {
	background-color: lightblue;
	cursor: pointer;
}

.table-hover>tbody>tr>th{
	background-color: white;
	cursor:auto;
}

img.avatar {
	border: 1px solid #000000;
}

.activity-mini {
	padding-right: 15px;
	float: left;
}

.acknowledgement {
	left: 0;
	max-width: 198px;
	max-height: 50px;
}

#profile{
	text-align: center;
	padding: 150px;
}

.well {
	font-family: 'Viga';
}

.table-responsive {
	font-family: 'Viga';
}

th {
	text-decoration: underline;
}

.text-muted {
	font-size: .75em;
	padding-top: 1em;
}

.beer-profile ul {
	padding: 1em;
}

/* navbar styles */
.navbar {
	font-family: 'Viga', sans-serif;
	font-size: 1.2em;
	z-index: 1; /*Add this*/
}

.navbar-brand {
	float: none;
	padding: 0;
	margin-left: 3px;
}

.navbar-brand > img {
	height: 65px;
	width: auto;
	display: inline;
}

#navbar-collapse-1 {
	padding-top: .6rem;
	margin-right: 15px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	padding-top: 0;
	margin-top: .4rem;
}

/* make .navbar-header take up all the space when nav is collapsed */
@media only screen and (max-width: 768px) {
	.navbar-header {
		flex: 1;
	}
}

/* the compass styles */

#compass-wrap > .compass .needle {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: needle 6s ease-in-out infinite;
	animation: needle 6s ease-in-out infinite;
}

@-webkit-keyframes needle {
	0%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(-15deg);
		transform: translate(-50%, -50%) rotate(-15deg);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes needle {
	0%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(-360deg);
		transform: translate(-50%, -50%) rotate(-360deg);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes needle2 {
	0%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) rotate(-360deg);
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes needle2 {
	0%, 100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
	50% {
		-webkit-transform: translate(-50%, -50%) rotate(-360deg);
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

/*corrects IE min-height bug*/
html {
	display: flex;
}
