<phpunit>
	<testsuites>
		<testsuite name="brewcrew">
			<!--<file>BeerTagTest.php</file>-->
			<!--<file>BeerTest.php</file>-->
			<!--<file>BreweryTest.php</file>-->
			<!--<file>ReviewTagTest.php</file>-->
			<!--<file>ReviewTest.php</file>-->
			<!--<file>TagTest.php</file> &lt;!&ndash;Class not yet written&ndash;&gt;-->
			<file>UserTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist = "false">
			<directory suffix = ".php">../php/classes</directory>
		</whitelist>
	</filter>
</phpunit>
